<h1><%= @article5["title"] %></h1>

<h2><%= @article5["body"][0]["model"]["text"] %></h2>
<img src="https://picsum.photos/640/420/?random" alt="Donec purus augue, lobortis et velit maximus, rutrum scelerisque ipsum" height="420" width="640">
<img src="https://picsum.photos/640/420/?random" alt="Etiam at nisl diam" height="420" width="640">
<p><%= @article5["body"][3]["model"]["text"] %></p>
